body {
	background-image: url("../media/tiny-flowers.png");
}

#about-content {
	max-width: 600px;
	padding: 10px;
	margin: auto;
}

.title {
	font-size: min(10vw, 100px);
    font-weight: bold;
}

.subtitle {
	font-size: 36px;
    font-weight: bold;
}

span {
	background-color: rgba(255, 251, 235, 0.8);
}

#our-song {
	width: 50%;
}

#now-playing {
	height: 20px;
	width: 250px;
	margin: auto;
	padding: 10px;
	overflow: hidden;
	position: relative;
}

#now-playing div {
	width: 400%;
	position: absolute;
	overflow: hidden;
	animation: scroll 8s linear infinite;
}

#now-playing span {
	float: left;
	width: 50%;
	background-color: black;
	color: #20C20E;
	font-family: "Digital Seven";
	font-size: 20pt;
	padding: 4px 0 4px 0;
}

@keyframes scroll {
	0% {
		left: 0%;
	}
	100% {
		left: -200%;
	}
}

@font-face {
	font-family: "Digital Seven";
	src: url("../media/digital-7.ttf");
}

.slideshow {
    width: 100%;
    display: flex;
}

.about_us_slide, .about_them_slide {
    display: none;
    width: auto;
    padding: 4px;
	background-color: rgba(255, 251, 235, 0.8);
    min-height: 395px;
}

.slide-text {
    color: var(--soft-black);
    text-align: left;
    display: inline-block;
    float: right;
    width: 45%;
}

.slide-title {
    font-weight: bold;
}

.slide-image {
    float: left;
    width: 50%;
    display: inline-block;
}

.slide-arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--soft-black);
	background-color: rgba(255, 251, 235, 0.8);
    font-weight: bold;
    font-size: 32px;
    user-select: none;
}

.buttons {
	background-color: rgba(255, 251, 235, 0.8);
    padding: 4px;
    display: flex;
    justify-content: space-between;
}
