:root {
	--ruby: #CC0025;
	--deep-pink: #CA53B4;
	--pink: #E0A4D5;
	--teal: #148686;
	--deep-teal: #277C72;
	--emerald: #5A8762;
	--peridot: #789B31;
	--diamond: #F5F5F5;
	--beige: #FFFBEB;
	--soft-black: #313639;
}

body {
	margin: 10px;
	background-color: var(--beige);
	color: var(--soft-black);
	text-align: center;
}

.eucalyptus {
	width: 100%;
}

#sapp-house {
	width: 90%;
}

#schedule, #rsvp-content, #registry-content {
	margin: auto;
	max-width: 600px;
}

#schedule {
	text-align: center;
}

#rsvp-content, #registry-content {
	text-align: left;
}

#registry-list {
	text-align: left;
	display: flex;
	justify-content: center;
}

#thank_you_message {
	justify-content:center;
}

#error_message {
	color: var(--ruby);
	font-weight: bold;
	background-color: var(--diamond);
	padding: 0 5px 0 5px;
	border: 5px solid var(--ruby);
}

.card {
	background-color: var(--diamond);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 20%;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
