:root {
	--ruby: #CC0025;
	--deep-pink: #CA53B4;
	--pink: #E0A4D5;
	--teal: #148686;
	--deep-teal: #027568;
	--emerald: #5A8762;
	--peridot: #789B31;
	--diamond: #F5F5F5;
	--beige: #FFFBEB;
	--soft-black: #313639;
}

body {
    margin: 0;
	background-color: var(--beige);
	text-align: center;
	font-family: 'Times New Roman', Serif;
}

p, h1 {
	color: var(--soft-black);
}
