:root {
	--ruby: #CC0025;
	--deep-pink: #CA53B4;
	--pink: #E0A4D5;
	--teal: #148686;
	--deep-teal: #277C72;
	--emerald: #5A8762;
	--peridot: #789B31;
	--diamond: #F5F5F5;
	--beige: #FFFBEB;
	--soft-black: #313639;
}

body {
	margin: 10px;
	background-color: var(--beige);
	text-align: center;
	font-family: 'Times New Roman';
}

.eucalyptus {
	width: 100%;
}

#sapp-house {
	width: 50%;
}

#schedule, #registry-content {
	margin: auto;
	max-width: 1000px;
}

#schedule {
	text-align: center;
}

#names {
	margin: 0;
	font-size: min(10vw, 100px);
}

.big-text {
	font-size: min(5vw, 50px);
	margin: 150px 0 150px 0;
}

.medium-text {
	font-size: min(3vw, 30px);
}

#registry-content {
	text-align: left;
}

#registry-list {
	text-align: left;
	display: flex;
	justify-content: center;
}

.card {
	background-color: var(--diamond);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 20%;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
