.navbar {
	list-style-type: none;
	margin: 20px 0 0 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--beige);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

.navbar li {
	display: inline;
	float: left;
}

.navbar li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	letter-spacing: 2px;
	color: var(--soft-black);
}

.navbar li a:hover {
	background-color: var(--pink);
	color: var(--ruby);
	font-family: cursive;
}
