body {
	background-color: var(--deep-teal);
}

p {
	color: var(--diamond);
}

#registry-content {
	margin: auto;
	padding: 10px;
	max-width: 420px;
	text-align: left;
}

#title {
	font-size: min(10vw, 40px);
}

#registry-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	width: 400px;
	height: 400px;
	padding: 10px;
	margin: 10px;
	border: 2px solid var(--diamond);
	z-index: 0;
}

.card:hover {
	animation: expand .5s infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	z-index: 100;
}

@keyframes expand {
  0% {
    transform: scale(1, 1);
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
  }
  100% {
    transform: scale(1.01, 1.01);
	box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
  }
}

.card-title {
	font-size: 32px;
	text-align: center;
	margin: 16px;
}

.card-body {
	text-align: left;
}

#honeymoon-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/lone-cypress.jpg");
	background-position: center;
	background-size: cover;
}

#furniture-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/house.jpg");
	background-position: center;
	background-size: cover;
}

#agenda-card {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/agendas.jpg");
	background-position: center;
	background-size: cover;
}
