#registry-content {
	margin: auto;
	padding: 10px;
	max-width: 400px;
	text-align: left;
}

#registry-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	background-color: var(--diamond);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition-duration: 40s;
	width: 400px;
	height: 400px;
	padding: 10px;
	margin: 10px;
	z-index: 0;
}

.card:hover {
	box-shadow: 80px 80px 8px 8px rgba(0,0,0,0.2);
	transform: scale(2, 2);
	z-index: 100;
}

.card-title {
	font-size: 32px;
	text-align: center;
	margin: 16px;
}

.card-body {
	text-align: left;
}
