body {
	background-image: url("../media/concentric-half-circles.png"), url("../media/parallel-lines.png");
	background-position: center -200px;
	background-size: 1000px auto;
	background-repeat: no-repeat, repeat-y;
}

p, label, textarea {
	font-family: "Poiret One", serif;
	font-weight: bold;
	color: var(--deep-teal);
}

button, input {
	font-family: "Poiret One", serif;
	font-weight: bold;
}

textarea {
	width: 100%;
	height: 100px;
	resize: none;
}

#rsvp-content {
	margin: auto;
    padding: 10px;
	text-align: left;
	max-width: 420px;
	padding-top: 160px;
}

#title-container {
	text-align: center;
    margin-bottom: 80px;
}

#title-container p {
	font-size: min(25vw, 125px);
	margin: 0;
}

#instructions {
	font-size: 20px;
}

.options {
	white-space: nowrap;
}

#thank_you_message {
	justify-content:center;
}

.hamster {
	width: auto;
	height: 48px;
}

#error_message {
	color: var(--ruby);
	font-weight: bold;
	background-color: var(--diamond);
	padding: 5px 0 0 5px;
	border: 5px solid var(--ruby);
}

@font-face {
	font-family: "Poiret One";
	src: url("../media/poiret-one.ttf");
}
