body {
	background-image: url("../media/arches.jpg");
	background-position: center -200px;
	background-size: 1500px auto;
	background-repeat: no-repeat;
}

p, label, button, input, textarea {
	font-family: "Poiret One", serif;
	font-weight: bold;
	color: var(--soft-black);
}

#rsvp-content {
	margin: auto;
    padding: 10px;
	text-align: left;
	max-width: 500px;
	padding-top: 200px;
}

#title-container {
	text-align: center;
}

#title-container p {
	font-size: 80px;
	margin: 0;
}

#instructions {
	font-size: 20px;
}

#thank_you_message {
	justify-content:center;
}

#error_message {
	color: var(--ruby);
	font-weight: bold;
	background-color: var(--diamond);
	padding: 0 5px 0 5px;
	border: 5px solid var(--ruby);
}

@font-face {
	font-family: "Poiret One";
	src: url("../media/poiret-one.ttf");
}
