IDENTITY("index")
LOCATION("index.html")
<!DOCTYPE html>
<html>

DEPENDENCY("head")

<body>
	DEPENDENCY("header")

	<div id="main-content">
		<div id="me">
			<img src="media/face.jpg" alt="My face">
			<div>
				<h4>Zac</h4>
				<h4>Freeman</h4>
				<span>Software Developer</span>
			</div>
		</div>
		<br />
		<a href="https://www.linkedin.com/in/zac-freeman/" target="_blank" class="content-link">
			DEPENDENCY("linkedin-svg")
			<span>https://www.linkedin.com/in/zac-freeman/</span>
		</a>
		<br />
		<br />
		<a href="https://github.com/zac-freeman" target="_blank" class="content-link">
			DEPENDENCY("github-svg")
			<span>https://github.com/zac-freeman/</span>
		</a>
</body>

</html>
