IDENTITY("index")
LOCATION("index.html")
<!DOCTYPE html>
<html>

DEPENDENCY("head")

<body>
	DEPENDENCY("header")

	<article>
		<section>
			<figure>
				<img src="media/face.jpg" alt="My face">
			</figure>
			<h1>Zac Freeman</h1>
			<p class="subtitle">Software Developer</p>

			<h3><a href="https://www.linkedin.com/in/zac-freeman/" target="_blank">
				DEPENDENCY("linkedin-svg") https://www.linkedin.com/in/zac-freeman/
			</a></h3>
			<h3><a href="https://github.com/zac-freeman" target="_blank">
				DEPENDENCY("github-svg") https://github.com/zac-freeman/
			</a></h3>
	</article>
</body>

</html>
