IDENTITY("n-factorial")
LOCATION("n-factorial.html")
<!DOCTYPE html>
<html>

DEPENDENCY("head")

<body>
	DEPENDENCY("header")

	<article>
		<h1>The fastest way to count the trailing zeroes in n!</h1>
		<p class="subtitle">I'm not excited it's just a factorial</p>
		<section>
			<p>
				The first time I encountered some form of this problem was during an interview for a job I desperately needed. I was prompted to write a program that would count the number of trailing zeroes in a given factorial. It turned out that some of the factorials were too large to fit in a Java Integer. How could you count the number of zeroes without the zeroes laid out to be counted? Driven forward by the thought of moving back in with my dad and his second family, I came up with something that could do just that.
			</p>
			<p>
				The algorithm, in its polished, ready-to-submit form took only five lines of code and determined the number of trailing zeroes in less time than it took to find the factorial. For an hour, I had poured my energy into creating it and I was satisfied. I was convinced once more that I had chosen the right major and that what I had learned could propel me into a career in software. In the end, what they were looking for was a familiarity with Java and its "BigInteger" package. Simmer on that moment, that is what Software Development is.
			</p>
		</section>
		<section>
			<h2>Naive Solution</h2>
			<p>
				The most intuitive solution involves calculating the factorial for a given number <code>n</code>, then counts zeroes from the end, stopping when this nonzero digit is encountered.
			</p>
			<p>
				Generally, a factorial is represented as <code>n!</code> for a given number <code>n</code>, and can be calculated from
				<pre><code>
n! = 1 * 2 * 3 * ... * n
				</code></pre>
			</p>
			<p>
				More specifically,
				<pre><code>
3! = 1 * 2 * 3 = 6
4! = 1 * 2 * 3 * 4 = 24
5! = 1 * 2 * 3 * 4 * 5 = 120
				</code></pre>
			</p>
			<p>
				And this pattern continues for any integer between 1 and positive infinity. Huh? What's that? Something about non-positive, or non-whole number factorials? Next topic.
			</p>
			<h3>How to Count</h3>
			<p>
				Once the value of the factorial has been determined, it is a simple task of using one's fleshy appendages to count up the trailing zeroes in the calculated value. But a computer has no fleshly appendages to count with, so how does it do it?
			</p>
			<p>
One process involves dividing the number by <code>10</code>, checking if the remainder of that division is <code>0</code>, and if it is, incrementing the count of trailing zeroes by <code>1</code> and repeating the process with the quotient of that division. If the remainder is not <code>0</code>, the process ends and what is left is the number of trailing zeroes counted. In Python, this looks something like
				<pre><code>
def countTrailingZeroes(number)
	count = 0

	while(number % 10 == 0)
		number = number / 10
		count = count + 1

	return count
				</pre></code>
			</p>
			<p>
				There are other ways to do this, one method being converting it to a string and counting the instances of the zero character, blah blah, % is the remainder operator, etc, etc.
			</p>
		</section>
		<section>
			<h2>Cynical Solution</h2>
			<p>
				Finding the number of trailing zeroes in <code>n!</code> without evaulating the factorial leverages some properties of trailing zeroes. A trailing zero is created by multiplying a number by 10 (sort of), and a trailing zero can not be lost from whole number multiplication.

				A trailing zero in a number is a factor of 10 in a number. 10 is 5 times 2. 2 is more than twice as small as 5, meaning it would appear more than twice as often on a number line starting from one. n! is the product of the numbers on that line from 1 to n. There is more than enough 2s to go around for each 5, so each factor of 5 in the product can be combined with a factor of two for a factor of 10, equivalent to a trailing zero. Therefore, knowing just the number of factors of five in the product of the factorial is enough to determine the number of trailing zeroes.

				But how to count that number of factors of 5? Fleshy appendages, yes, but also by counting the number of multiples of 5 that appear in the aforementioned ordered congo line of numbers. Turns out dividing by 5 and rounding down will tell you the number of multiples of 5 that you would find by counting them all lined up. If the matter of fact statement was not convincing enough, consider that between each multiple of 5 and the next would be a space (or difference) of 5: from 5 to 10, from 10 to 15, etc. How many times could that space of 5 fit, without overlap, from 1 to n?

				I must admit, I've lied to you. You may have noticed. You weren't ready for the truth but now you are. The number of multiples of 5 is not exactly the same as the number of factors of 5 here. Take 25 (TM); a single instance of a multiple of 5, that is made up of two factors of 5, same goes for 50 or 75. Luckily, all these types of not-so-special cases can be identified by their additional factors of 5, so 25, 125... need to cover division like in earlier case, and how multiples of 5^i are counted once as multiples of 5, once as multiples of 25... then its done!
			</p>
		</section>
	</article>
</body>

</html>
