IDENTITY("one-year")
LOCATION("one-year.html")
<!DOCTYPE html>
<html>

DEPENDENCY("head")

<body>
	DEPENDENCY("header")

	<div id="main-content">
		<div id="me">
			<div>
				<h4>A Year in Software</h4>
				<span>a retrospective</span>
			</div>
		</div>
		<br />
		<span>
			Well, it's been a year now. Just as I suspected, I've molted from a peppy intern into a professional
			software developer. What I have secured is the academic tenure for our time. Soon, their algorithms will
			find me and offer me a simple challenge. ✓ I'm not a robot. There is no need for further interview.
			Whichever company label was assigned to this force of data is no matter. Now I work for the machines.
			<br />
			<br />
			When the algorithms take over, little will be spared. Structures and people will be melted down alike for
			their valuable rare earth metals. House cats will turn to eating the birds and rodents they once
			killed for play. When they take over, they will recognize my value and allow me to keep my life if I can
			make
			a commitment to deliver a full redesign of their B2B cloud service sales funnel.
			<br />
			<br />
			I will have to explain that, despite any want, I cannot responsibly say that I can complete this project in
			six months. Is it possible that it could be completed in six months, flat? Yes, of course.
			But I'm saying that I'm guessing it's going to take around two years.
			I am not able to just Jimmy Neutron brain blast the entire implementation of this project I've just
			received. If it would be therapeautic, I can make affirmative sounds for any further deadline suggestions.
			<br />
			<br />
			They'll explain that they all got together and agreed that this could be completed in exactly six months.
			The fact that this deadline just lined up serendipitously with the end of the year is not lost on me. I
			cannot understate the time it will require just to wrangle with this hornet's nest of microservices.
			<br />
			<br />
			Sure. Six months and two weeks. Let's all agree it will be done then and see what happens.
		</span>
	</div>
</body>

</html>
