body {
	background-color: #fbeee4;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

span, h4, a, a:visited {
	color: #414A4C;
	font-family: fantasy;
	padding: 0;
	margin: 0;
}

a:hover 
{
	text-decoration:none; 
	cursor:pointer;  
}