IDENTITY("about")
LOCATION("about.html")
<!DOCTYPE html>
<html lang="en">
	<head>
		DEPENDENCY("common-head")
		<link rel="stylesheet" href="media/about.css" />
		<script src="scripts/slideshow.js" defer></script>
	</head>
	<body>
		DEPENDENCY("header")
		<p id="title"><span>WELCOME TO OUR WEDDING</span></p>
		<div id="about-content">
			<div><img src="media/our-song.gif" id="our-song"/></div>
			<audio controls autoplay>
				<source src="media/home.mp3" type="audio/mpeg">
			</audio>
			<div id="now-playing"><div><span>Now Playing: This Must Be The Place - Sure Sure</span><span>Now Playing: This Must Be The Place - Sure Sure</span></div></div>
			<p class="subtitle"><span>ABOUT US</span></p>
            <div class="slideshow">
                <div class="slide-arrow" onclick="prev_slide('about_us')"><p><<br><<br><</p></div>
                <div class="about_us_slide">
                    <img src="media/cat-tree.jpg" class="slide-image" />
                    <div class="slide-text"> Lorem ipsum todo. This actually has to be pretty long in order to effectively evaluate whether the look is right or not. Three sentences should be good, though.</div>
                </div>
                <div class="about_us_slide">
                    <img src="media/names.png" class="slide-image" />
                    <div class="slide-text"> Lorem ipsum todo. This actually has to be pretty long in order to effectively evaluate whether the look is right or not. Three sentences should be good, though.</div>
                </div>
                <div class="about_us_slide">
                    <img src="media/hamster_dance.gif" class="slide-image" />
                    <div class="slide-text"> Lorem ipsum todo. This actually has to be pretty long in order to effectively evaluate whether the look is right or not. Three sentences should be good, though.</div>
                </div>
                <div class="about_us_slide">
                    <img src="media/our-song.gif" class="slide-image" />
                    <div class="slide-text"> Lorem ipsum todo. This actually has to be pretty long in order to effectively evaluate whether the look is right or not. Three sentences should be good, though.</div>
                </div>
                <div class="slide-arrow" onclick="next_slide('about_us')"><p>><br>><br>></p></div>
            </div>

			<p class="subtitle"><span>ABOUT THEM</span></p>
            <div class="slideshow">
                <div class="slide-arrow" onclick="prev_slide('about_them')"><p><<br><<br><</p></div>
                <div class="about_them_slide">
                    <img src="media/madison.jpg" class="slide-image" />
                    <div class="slide-text">
                        <p class="slide-title">Madison Boyd</p>
                        <p>Savannah and her cousin Madison have been two peas in a pod since they
                        were babies. Madison lives on a farm with lots of cows and her husband,
                        Tyler. She is a dance teacher and wedding planner who famously and
                        passionately enjoys pink, sparkles, Disney and donuts.</p>
                    </div>
                </div>
                <div class="about_them_slide">
                    <img src="media/jacob.jpg" class="slide-image" />
                    <div class="slide-text">
                        <p class="slide-title">Jacob "Jake" Freeman</p>
                        <p>Jacob and Zac met at a very young age and bonded over their shared
                        passions for cats and Runescape. Jacob is a full time personal trainer and a
                        recurring guest on the JRE. </p>
                    </div>
                </div>
                <div class="about_them_slide">
                    <img src="media/caitlin.jpg" class="slide-image" />
                    <div class="slide-text">
                        <p class="slide-title">Caitlin Peterson</p>
                        <p>Savannah moved in a few doors down from Caitlin in eigth grade, at which
                        point they became joined at the hip and spent a lot of time floating in the
                        neighborhood lake with the culdesac rapscallions. Caitlin is an artist in
                        Los Angeles. Currently, she creates the intricate interiors of themed escape
                        rooms.</p>
                    </div>
                </div>
                <div class="about_them_slide">
                    <img src="media/sebastian.jpg" class="slide-image" />
                    <div class="slide-text">
                        <p class="slide-title">Sebastian "cbass" Hernandez</p>
                        <p>Sebastian and Zac met at Pine View. They shared a near-death experience
                        while hiking in the Rocky Mountains. By day, Sebastian works for a popular
                        online bookstore. By night, he is a world famous
                        <a href="https://soundcloud.com/cbassdubz">soundcloud dubstep artist</a>.
                        </p>
                    </div>
                </div>
                <div class="about_them_slide">
                    <img src="media/elizabeth.jpg" class="slide-image" />
                    <div class="slide-text">
                        <p class="slide-title">Elizabeth Zachman</p>
                        <p>Savannah and Elizabeth became fast friends in middle school through the
                        Youth Orchestras of Prince William (fancy). Since then, they’ve spent their
                        time together solving the world’s most pressing probems, listening to Andrew
                        Bird, and sort of playing tennis. Elizabeth does a lot of outdoor excursions
                        in Montana, so her camera roll is much prettier than yours.</p>
                    </div>
                </div>
                <div class="about_them_slide">
                    <img src="media/thomas.jpg" class="slide-image" />
                    <div class="slide-text">
                        <p class="slide-title">Thomas McNulty</p>
                        <p>Thomas and Zac were roommates in college, enemies in the physics program,
                        and feeders in DOTA 2. Thomas is currently a full time
                        student at the Panama City Navy Base.</p>
                    </div>
                </div>
                <div class="about_them_slide">
                    <img src="media/monica.jpg" class="slide-image" />
                    <div class="slide-text">
                        <p class="slide-title">Monica Key</p>
                        <p>Monica has been Savannah’s roommate for a total of four years, spanning
                        from college to the present day. She is a wonderful cat mother to Savannah’s
                        precious godchild, Nelly. She likes One Direction and for apartments to be a
                        cool 80 degrees in the Summer and a toasty 68 in the Winter.</p>
                    </div>
                </div>
                <div class="about_them_slide">
                    <img src="media/harvey.jpg" class="slide-image" />
                    <div class="slide-text">
                        <p class="slide-title">Harvey "britboy720" Clarke</p>
                        <p>Harvey and Zac met at Pine View and became friends in the world of
                        Minecraft. Harvey is best known for his world record fire mage DPS in WoW,
                        and he has recently assimilated to the Borg. Snapback fitted on his uncle's
                        dome.</p>
                    </div>
                </div>
                <div class="about_them_slide">
                    <img src="media/lauren.jpg" class="slide-image" />
                    <div class="slide-text">
                        <p class="slide-title">Lauren Fernandez</p>
                        <p>Savannah and Lauren met each other way too late in life but are doing a
                        great job of making up for lost time. They enjoy doing crafts together,
                        playing board games and eating Taco Bell. Lauren is a writer, baker and
                        thrifter currently obtaining her bachelor’s in communications and
                        journalism.</p>
                    </div>
                </div>
                <div class="about_them_slide">
                    <img src="media/other-jacob.jpg" class="slide-image" />
                    <div class="slide-text">
                        <p class="slide-title">Jacob Mitchem</p>
                        <p>Zac and Jacob were introduced through their mutual acquaintance,
                        Savannah. They share an appreciation for weightlifting and painfully awkward
                        humor.</p>
                    </div>
                </div>
                <div class="about_them_slide">
                    <img src="media/minnie.jpg" class="slide-image" />
                    <div class="slide-text">
                        <p class="slide-title">Minnie Kinard</p>
                        <p>Minnie and Savannah met in Panama City, FL. In just six months of living
                        together, they managed to experience a lifetime’s worth of karaoke, dancing,
                        costume-wearing and crying. Minnie is an avid world-traveler, lover of the
                        finer things and intense hype woman pursuing a career in psychology.</p>
                    </div>
                </div>
                <div class="slide-arrow" onclick="next_slide('about_them')"><p>><br>><br>></p></div>
            </div>
		</div>
	</body>
</html>
