IDENTITY("accommodations")
LOCATION("accommodations.html")
<!DOCTYPE html>
<html lang="en">
	<head>
		DEPENDENCY("common-head")
		<link rel="stylesheet" href="media/accommodations.css" />
	</head>
	<body>
		DEPENDENCY("header")
	    <img id="map" src="media/accommodations.jpg">
		<div id="content">
            <a id="sapp-house-link" href="https://www.sapphouse.com" target="_blank">
                <p class="header-text">1. <span id="sapp-house">The Sapp House</span></p>
            </a>
            <p class="bottom-text">224 E. 3rd Court<br>Panama City, Florida 32401<br><br>(you can't
            stay here)</p>

            <p class="header-text">2. Holiday Inn</p>
			<p class="bottom-text">2001 Martin Luther King Boulevard<br>Panama City, Florida
            32405<br><br>$169 per night plus tax<br>Call 800-633-0266 for a room
            with the "Mitchem/Freeman wedding block".<br>Reserve by Sept. 27th</p>

            <p class="header-text">3. La Quinta Inn</p>
            <p class="bottom-text">1030 E 23rd St.<br>Panama City, FL 32405<br><br>$89 per night plus
            tax<br>To make reservations with the Mitchem/Freeman wedding block, click
            <a href="https://www.wyndhamhotels.com/laquinta/panama-city-florida/la-quinta-panama-city/rooms-rates?&checkInDate=10/26/2022&checkOutDate=10/30/2022&groupCode=CGMFWB" target="_blank">here</a>.
            <br>Reserve by October 13th</p>

            <p class="header-text">4. Holiday Inn Express</p>
            <p class="bottom-text">12907 Front Beach Road<br> Panama City Beach, Florida
            32407<br><br>$189 plus tax with Service Fee & Parking Fee waived. This is for a room
            with two queen beds, a bunk bed, and a private balcony facing the beach. <br>Reserve with
            the Mitchem-Freeman Wedding <a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/panama-city-beach/pfnfb/hoteldetail?fromRedirect=true&qSrt=sBR&qIta=99801505&icdv=99801505&qSlH=PFNFB&qGrpCd=MFW&setPMCookies=true&qSHBrC=EX&qDest=12907%20Front%20Beach%20Road,%20Panama%20City%20Beach,%20FL,%20US&srb_u=1" target="_blank">here</a>
            or call (850) 238-8848 and ask to book under the Mitchem-Freeman Wedding Block (code "MFW").<br>Reserve by Sept 26th</p>

            <p class="header-text">5. Seychelles Beach Resort Condo Rentals</p>
            <p class="bottom-text">5115 Gulf Drive<br> Panama City Beach, FL<br><br>Rate depends on
            unit size, 2 night minimum.<br>Make reservation with group code FLPCBGRP1665
            <a href="https://protect-us.mimecast.com/s/xEGSCwplpli9yKV6U4M9LP" target="_blank">here</a>,
            or call (850) 466-8882.</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
	</body>
</html>
