IDENTITY("index")
LOCATION("index.html")
<!DOCTYPE html>
<html lang="en">
	<head>
		DEPENDENCY("common-head")
	</head>
	<body>
		<div id="schedule">
			DEPENDENCY("header")
			<img class="eucalyptus" src="media/top.png">
			<img id="names" src="media/names.png">
			<img class="eucalyptus" src="media/bottom.png">
			<p class="big-text">(are getting married at)</p>
			<a href="https://www.sapphouse.com" target="_blank"><img id="sapp-house" src="media/sapp-house.png"></a>
			<p class="medium-text">224 E. 3rd Court<br>Panama City, Florida 32401</p>
			<p class="medium-text">October 29th, 2022<br>7 PM Ceremony<br>10 PM Reception</p>
		</div>
	</body>
</html>
