IDENTITY("index")
LOCATION("index.html")
<!DOCTYPE html>
<html lang="en">
	<head>
		DEPENDENCY("common-head")
	</head>
	<body>
		DEPENDENCY("header")
		<h1 class="title">Savannah and Zac are getting married!</h1>
		<div id="schedule">
			<img class="eucalyptus" src="media/eucalyptus.png" style="transform: rotate(180deg);">
			<a href="https://www.sapphouse.com" target="_blank"><img id="sapp-house" src="media/sapp-house.png"></a>
			<p>224 E. 3rd Court</p>
			<p>Panama City, Florida 32401</p>
			<p>October 29th, 2022</p>
			<p>7 PM Ceremony</p>
			<p>10 PM Reception</p>
			<p>2 AM Newby's</p>
			<img class="eucalyptus" src="media/eucalyptus.png">
		</div>
	</body>
</html>
