IDENTITY("index")
LOCATION("index.html")
<!DOCTYPE html>
<html lang="en">
	<head>
		DEPENDENCY("common-head")
	</head>
	<body>
		DEPENDENCY("header")
		<div class="top">
			<h1 class="title">Savannah and Zac are getting married!</h1>
		</div>
		<div class="mids">
			<h1>Panama City, FL</h1>
			<h1>October 29th, 2022</h1>
			<h1>7 PM Ceremony</h1>
			<h1>10 PM Reception</h1>
		</div>
		<div class="bottom">
			<h1>Back in 2013 we didn't even know eachother. I didn't have a thought of a thought of a thot. Hard to believe that this is just filler text!</h1>
			<h1>That said, those were crazy times to be vibing energies. I rolled high and she rolled low. Givin' me the snake eyes and side eyes, as they say.</h1>
			<h1>That said, if I was given the opportunity to do it all over again or be sent immediately to Gitmo, I would do it all over again in a heartbeat. As exhilarating as waterboarding might be, I couldn't pass up an opportunity to buy AMD at $2/share.</h1>
		</div>
	</body>
</html>
