IDENTITY("playlist")
LOCATION("playlist.html")
<!DOCTYPE html>
<html lang="en">
	<head>
		DEPENDENCY("common-head")
		<link rel="stylesheet" href="styles/playlist.css" />
	</head>
	<body>
		DEPENDENCY("header")
        <div id="content">
            <img src="media/thanks-for-coming.gif" id="thanks-for-coming"/>
            <p>Please enjoy a playlist of our most cherished songs. Each song is a memento from a
            time together, a mutual all-time favorite, or a reminder of one to the other. It's good
            stuff.</p>
            <p>For those without Spotify, a plain-text list is provided at the bottom of the page. Fax it to a
            record store or something.</p>

            <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/playlist/22r7dFZdET9aSyphzJQLu9?utm_source=generator"
                    width="100%"
                    height="380"
                    frameBorder="0"
                    allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                    loading="lazy">
            </iframe>

            <br>
            <br>
            <br>
            <br>

            <p id="playlist-title">Zac and Savannah 4evr</p>
            <ul id="playlist">
                <li>Roma Fade - Andrew Bird</li>
                <li>still feel. - half•alive</li>
                <li>Being and Time - Swear and Shake</li>
                <li>This Must Be The Place - Sure Sure</li>
                <li>I Follow Rivers - Lykke Li</li>
                <li>someone -emawk</li>
                <li>These Words - Natasha Bedingfield</li>
                <li>Cinema - Benny Benassi, Gary Go</li>
                <li>Golden - Lady A, Stevie Nicks, Chard Carlson</li>
                <li>Shy - Leon Bridges</li>
                <li>Mirrors - Justin Timberlake</li>
                <li>Life Was Easier When I Only Cared About Me (Robotaki Remix) - Bad Suns</li>
                <li>Cheerleader (Felix Jaehn Remix) - OMI</li>
                <li>Forever and Ever, Amen - Randy Travis</li>
                <li>Pulaski at Night - Andrew Bird</li>
                <li>If I Needed You - Andrew Bird</li>
                <li>Symphony Of Lights - Bad Suns</li>
                <li>Chicago (adult contemporary easy listening version) - Sufjan Stevens</li>
                <li>Watermelon - Tom Rosenthal</li>
                <li>The Way I Am - Ingrid Michaelson</li>
                <li>Me &amp; Magdalena - The Monkees</li>
                <li>Cooks - Still Woozy</li>
                <li>Tardigrade Song - Cosmo Sheldrake</li>
                <li>Better Together - Jack Johnson</li>
                <li>I Want to Love You - Lenachka</li>
                <li>Best for You - Blood Cultures</li>
                <li>Young Folks - Peter Bjorn and John</li>
                <li>Oh, What a World - Kacey Musgraves</li>
            </ul>
        </div>
	</body>
</html>
