IDENTITY("registry")
LOCATION("registry.html")
<!DOCTYPE html>
<html lang="en">
  <head>
	DEPENDENCY("common-head")
  </head>
  <body>
	DEPENDENCY("header")
    <div class="top">
      <h1 class="title">Crowdfund our Happiness</h1>
    </div>
    <div class="bottom">
        <div class="card">
			<p>Sweeten our Honeymoon</p>
        </div>
        <div class="card">
			<p>Furnish our Apartment</p>
        </div>
        <div class="card">
			<p>Push our Agenda</p>
        </div>
    </div>
  </body>
</html>
