IDENTITY("rsvp")
LOCATION("rsvp.html")
<!DOCTYPE html>
<html lang="en">
	<head>
		DEPENDENCY("common-head")
		<link rel="stylesheet" href="styles/rsvp.css" />
		<script src="scripts/rsvp.js"></script>
	</head>
	<body>
		DEPENDENCY("header")
        <div id='rsvp-content'>
            <div id="title-container"><p class="title">RSVP</p></div>
            <p id='instructions'>Please provide your name below, and indicate whether or not you
            will be able to attend our wedding. You may RSVP on behalf of members of your party that
            were included on your invitation. Please do not RSVP on behalf of someone that has not been invited. Please do not RSVP on behalf of someone that you do not know.</p>
            <form id='rsvp_form' onsubmit='rsvp(get_values(first_names), get_values(last_names), get_responses(this), song_requests.value); return false;'>
                <div id='guest_list'>
					<input type='text' name='first_names' placeholder='First name' size='10' required> 
					<input type='text' name='last_names' placeholder='Last name' size='10' required>
					<span class='options'>
						<input type='radio' name='response0' value='accept' required>
						<label for='accept'>Accept</label>
						<input type='radio' name='response0' value='decline' required>
						<label for='decline'>Decline</label>
					</span>
                </div>
                <button type='button' onclick='add_guest()'>Add Guest</button>
                <br>
                <br>
                <label for'song_requests'>What songs would you like to hear at our wedding?</label>
                <br>
                <textarea id='song_requests' name='rsvp_form'>Darude - Sandstorm</textarea>
                <br>
                <input type='submit' value='Submit'>
            </form>
            <div id='thank_you_message' style='display: none'><img src='media/hamster_dance.gif' class='hamster'/><p>RSVP received! Thank you.</p><img src='media/hamster_dance.gif' class='hamster'/></div>
            <div id='error_message' style='display:none;'><p>Something went wrong. Please try again, or RSVP with us directly.</p></div>
        </div>
	</body>
</html>
